<%- include('partials.ejs/header') %>
<link rel="stylesheet" href="styles/cadastro_cliente.css">

<h1>Bem-Vindo! Para criar sua conta, preencha essas informações:</h1>


<<<<<<< HEAD
<div class="formCadastroCliente">

  <div class="input-group mb-3">
=======
<h3><a href="login_cliente">Já possui uma conta? Faça login</a></h3>
<form action="/cadastrar" method="post">
<div class="input-group mb-3">
>>>>>>> 4aa12a92dd314d6ba56ffc622bf37f4a87cf6c66
  <span class="input-group-text" id="inputGroup-sizing-default">Nome Completo</span>
  <input id="nome" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
  <input id="email" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Senha</span>
  <input type="text" id="senha" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">CPF (ou documento de identidade)</span>
  <input id="cpf" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
  <input id="endereco" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</div>

</div>


<button type="submit" class="btn btn-primary">Cadastrar!</button>
</form>
<%- include('partials.ejs/footer') %>