<%- include('C:\Users\Aluno\Documents\GitHub\Projeto-Final---2-SEM\app\src\views\partials.ejs\header.ejs') %>

<h3><a href="login_funcionario">Já possui uma conta? Faça login</a></h3>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Nome Completo</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Senha</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Confirmação de Senha</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">CPF (ou documento de identidade)</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<%- include('C:\Users\Aluno\Documents\GitHub\Projeto-Final---2-SEM\app\src\views\partials.ejs\footer.ejs') %>