<%- include('partials.ejs/header') %>
<link rel="stylesheet" href="styles/cadastro_cliente.css">

<h1>Bem-Vindo! Para criar sua conta, preencha essas informações:</h1>

<form action="/inscrever" method="post">

  <span class="input-group-text" id="inputGroup-sizing-default">Nome Completo</span>
  <input name="nome" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">


  <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
  <input name="email" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">


  <span class="input-group-text" id="inputGroup-sizing-default">Senha</span>
  <input type="text" name="senha" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">


  <span class="input-group-text" id="inputGroup-sizing-default">CPF (ou documento de identidade)</span>
  <input name="cpf" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

  <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
  <input name="endereco" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">




<button type="submit" class="btn btn-primary">Cadastrar!</button>
</form>
<%- include('partials.ejs/footer') %>