<%- include('partials.ejs/header') %>
	<main class="flex-grow-1">
		<div class="container py-4">
			<div class="row min-vh-75 gx-4 align-items-stretch">

				<aside class="col-12 col-md-3 d-flex justify-content-center mb-3 mb-md-0">
					<div class="card sticky-card w-100 vh-33 p-3">
						<div class="card-body text-center">
							<h5 class="card-title">Filtrar produtos</h5>
							<p class="card-text small">aqui vai ter uns filtros, mas mรณ trampo pra agora</p>
							<a href="#produtos" class="btn btn-sm btn-primary">BAAAAAAAAA</a>
						</div>
					</div>
				</aside>

				<section id="produtos" class="col-12 col-md">
					<div class="container-fluid h-100">
						<div class="row g-3" id="produtos-grid">
							<!-- aqui fica os bagui dos goats, os produtin -->
						</div>
					</div>
				</section>

				<aside class="col-12 col-md-3 d-flex justify-content-center mt-3 mt-md-0">
					<div class="card sticky-card w-100 vh-50 p-3">
						<div class="card-body text-center">
							<h5 class="card-title">Carrinho</h5>
							<p class="card-text small">EU NN QUERO, EU NN QUERO, EU NAO SUPORTO MAAAAIISSSS</p>
							<a href="/carrinho" class="btn btn-sm btn-outline-light">BUUUUU</a>
						</div>
					</div>
				</aside>

			</div>
		</div>
	</main>
	<%- include('partials.ejs/footer') %>