<%- include('partials.ejs/header') %>

<main class="container">
  <div class="card-row">
    <div class="card">
      <div class="card-body formLogin">
        <h2 class="card-title">Bem-vindo, Funcionário</h2>
        <p>Insira seu código de funcionário para acessar a área administrativa.</p>
        <form action="/login_funcionario" method="POST" class="formLogin">
          <div class="mb-3">
            <label for="codigo" class="form-label">Código do Funcionário</label>
            <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Digite seu código" required>
          </div>
          <button type="submit" class="btn">Acessar</button>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include('partials.ejs/footer') %>