<%- include('C:\Users\Aluno\Documents\GitHub\Projeto-Final---2-SEM\app\src\views\partials.ejs\header.ejs') %>

  <h2>Sobre Nós</h2>
  <p>Somos a GOAT's store, a loja para os melhores de todos os tempos!<br> </p>

<%- include('C:\Users\Aluno\Documents\GitHub\Projeto-Final---2-SEM\app\src\views\partials.ejs\footer.ejs') %>
